<h1>All Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><a href = "<%= restaurant_path(restaurant) %>"><%= restaurant.name %></a>, Address:<%= restaurant.address %></li><hr>
  <% end %>
</ul>